@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;900&display=swap');

:root {
    --font-family: 'Raleway', sans-serif;

    --gradient-text: linear-gradient(89.97deg, #0c5ac1 1.84%, #daeef5 102.67%);
    --gradient-bar: linear-gradient(103.22deg, #0c5ac1 -13.86%, #dd00ff 99.55%);

    --color-bg: #040C18;
    --color-footer: #031B34;
    --color-blog: #042c54;
    --color-text: #81AFDD;
    --color-subtext: #0c5ac1;
}